.content-wrapper-upload {
    border-radius: 7px;
    border: 1px solid var(--p-inputtext-border-color);;
    height: min-content;
    display: flex;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}