<div>
    <div></div>
    <div class="card">
        <p-table 
        [value]="ordenes" 
        [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header let-columns>
                <tr>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                    <th>Código</th>
                </tr>
            </ng-template>
            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>